.container{
    height: 100vh;
    min-width: 345px;
    padding: 15px 20px 20px 20px;
    background-color: rgba(120, 35, 5, .70);
    margin-bottom: calc(var(--footer-height));
    background-attachment: fixed;
    padding-bottom: 200px;
    margin-bottom: 200px;
}

.name-section {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    width: 350px;
}

.github-button img {
    width: 80px;
}

.linkdin img{ 
    width: 100px;
}

h4 {
    color: #C7941D;
    text-shadow: #580f01 3px 3px;
    font-size: 2.5em;
    margin: 0;
}