.container-about{
    height: auto;
    min-width: 345px;
    max-width: 600px;
    padding: 15px 20px 20px 20px;
    background-color: rgba(120, 35, 5, .70);
    margin-bottom: 70px;
    background-attachment: fixed;
}

.mission {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(11, 25, 83, .70);
    border: #C7941D 2px solid;
    height: auto;
    width: auto;
    color: white;
    font-weight: bold;
    text-align: center;
    align-items: center;
    padding: 0px 20px;
    margin-bottom: 20px;
}

.name-section {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: left;
    align-items: center;
    width: auto;
    margin: 10px;
}

.beer {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    margin: 20px;
    width: 100px;
}

.bio {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-content: center;
}

.github-button img {
    width: 80px;
}

.linkdin img{ 
    width: 100px;
}

h4 {
    color: #C7941D;
    text-shadow: #580f01 3px 3px;
    font-size: 2.3em;
    margin: 0;
}

a {
    color: white;
}

.name-section:last-of-type {
    margin-bottom: 100px;
}