html, body, div#root {
  font-family: 'Merriweather Sans', sans-serif;
  height: 100vh;
}

body{
  background-image: url('./assets/brewBack.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center;
}

h1, h2, h3, h4 {
  font-family: 'Merriweather';
}

