footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0; right: 0;
    height: 10%;
    background: #1C2018;
    text-align: center;
    color: white;
}

footer a {
    color: #C7941D;
    font-size: 17px;
}

footer p {
    margin: 0;
    padding: 0;
    margin-top: 15px;
}